.containerSecao{
    width: 100%;
}

.section {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.img {
    background-image: url("../img/vestido.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    width: 50%;
}


.frase {
    display: flex;
    flex-direction: column;
    color: var(--cor-fundo);
    position: absolute;
    bottom: 2em;
    font-size: 60px;
    z-index: 1;
    left: 2.5%;
}


.contador {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
    display: flex;
    position: relative;
}

.contador{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerFrase{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerFrase{
    justify-content: center;
    margin-left: 4em;
}

.containerFrase h2{
    font-size: 40px;
}

.containerFrase h3{
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 6.5em;
}

.containerFrase p{
    font-size: 14px;
}

.btn{
    position: absolute;
    bottom: 3em;
    right: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn button{
    width: 250px;
    height: 80px;
    font-size: 16px;
    background-color: var(--cor-fundo);
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
}

.btn button:hover{
    width: 270px;
    height: 85px;
}

.containerCard{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-detalhes);
}

.card{
    background-color: var(--cor-fundo);
    height: 40vh;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.cardImg{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.cardImg img{
    width: 100%;
    height: 100%;
}

.cardTitulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100%;
    height: 60%;
}

.cardTitulo h3{
    font-size: 16px;
    color: var(--cor-detalhes);
    margin-top: 2em;
}

.cardTitulo button{
    position: absolute;
    bottom: 5px;
    transform: translateX(-50%);
    left: 50%;
    padding: 0.8em 3em;
    text-wrap: nowrap;
    border: none;
    background-color: var(--cor-detalhes);
    color: var(--cor-fundo-detalhes);
    border-radius: 25px;
    font-size: 12px ;
}

.cardTitulo button:hover{
    padding: 0.8em 4em;
}